body {
  margin-right: 0px;
}


a:link {
  color: #026DFE;
}


a:visited {
  color: #8751A3;
}


a:active {
  color: #5951A3;
}  


.navtable {
  padding: 5px 0px 0px 0px;
}


.quotetable {
  margin-left: 3%;
  background: #FFFFFF;
}


.lefttables {
  margin-left: 5%;
  padding: 0px 70px 5px 45px;
}


.articletable {
	margin-left: 5%;
  padding: 0px 10px 0px 0px;
}


.subnavtable {
  padding: 0px 0px 0px 5px;
}

.dropdown {
  position: absolute;
  border: 1px solid cccccc; 
  background-color:ffffdd; 
  padding-left:10; 
  padding-right:10; 
  padding-top:0; 
  padding-bottom:0; 
  text-align: left;
}

.rightimg {
  background: #FFFFFF url(../img/sideImg.gif);
  background-repeat: repeat-y;
}


.blanktd {
  
}


.divider {
  background: #39355B;
}


.link {
  background: #DAD8E4;
}


.selected {
  background: #8A86A3;
}


.h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.4em;
  font-variant: normal;
  word-spacing: 1.5em;
  color: #000000;
}


.h2 {
  font-family: "Garamond", "Copperplate", "Times", serif;
  font-size: 1.2em/1em;
  letter-spacing: 1em;
  word-spacing: 1.2em;
  color: #000000;
}


.smalltext {
  font-family: "Times New Roman", Times, serif;
  font-size: 0.8em;
  letter-spacing: 1em
  word-spacing: 1.2em;
  color: #000000;
}


.smallnavtext {
  font-family: "Garamond", "Copperplate", "Times", serif;
  font-size: 0.67em/1em;
  letter-spacing: 1em
  word-spacing: 2.2em;
  color: #000000;
}


.bodytext {
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: .69em;
  letter-spacing: 1em
  word-spacing: 1.2em;
  color: #000000;
}


.copyrighttext {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 0.61em;
  letter-spacing: 1em
  word-spacing: 1.0em;
  color: #000000;
}

.newstext {
  font-family: "Verdana", "Arial", "Helvetica", sans-serif;
  font-size: 0.61em;
  letter-spacing: 1em
  word-spacing: 1.0em;
  color: #000000;
}

pre, .programText {
  font-family: "Courier", serif;
  font-size: 0.82em;
  letter-spacing: 1em
  word-spacing: 1.2em;
  color: #000000;
}

.code {
  border: 1px solid cccccc; 
  background-color:eeffff; 
  padding-left:10; padding-right:10; padding-top:0; padding-bottom
}

.tableRowSpace {
	background:#999999
}