<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
  
    <Feature Id="BinFeature" Level="1"
		Title='Binaries' Description='NUnit GUI and Console' Display='expand'>
		<!-- nunit files -->
		<ComponentRef Id="component_nunit" />
		
		<!-- nunit-gui.exe -->
		<ComponentRef Id="C__243FEAF8F6D78D23A4A811915AEB23F8" />
    </Feature>
    
	<DirectoryRef Id="INSTALLDIR">
  
      <Directory Id="D__bin" Name="BIN" LongName="bin">
         
        <Component Id="component_nunit" DiskId="1" Guid="15222234-C43E-4f31-B2C3-E83995627A68">
          <File Id="file0" Name="MOCK-A~1.DLL" LongName="mock-assembly.dll" src="mock-assembly.dll" />
          <File Id="file1" Name="MOCK-A~1.CON" LongName="mock-assembly.dll.config" src="mock-assembly.dll.config" />
          <File Id="file3" Name="NONAME~1.DLL" LongName="nonamespace-assembly.dll" src="nonamespace-assembly.dll" />
          <File Id="file5" Name="NOTEST~1.DLL" LongName="notestfixtures-assembly.dll" src="notestfixtures-assembly.dll" />
          <File Id="file7" Name="NUNIT-~1.EXE" LongName="nunit-console.exe" src="nunit-console.exe" />
          <File Id="file8" Name="NUNIT-~1.CON" LongName="nunit-console.exe.config" src="nunit-console.exe.config" />
          <File Id="F__nunit_exe" Name="nunit.exe" src="nunit.exe" />
          <File Id="file11" Name="NUNIT-~2.CON" LongName="nunit.exe.config" src="nunit.exe.config" />
          <File Id="file13" Name="NUNITC~1.DLL" LongName="nunit.core.dll" src="nunit.core.dll" />
          <File Id="file14" Name="NUNITCO.DLL" LongName="nunit.common.dll" src="nunit.common.dll" />
          <File Id="file17" Name="NUNITF~1.DLL" LongName="nunit.framework.dll" src="nunit.framework.dll" />
          <File Id="file19" Name="NUNITF~1.XML" LongName="nunit.framework.xml" src="nunit.framework.xml" />
          <File Id="file20" Name="NUNITM~1.DLL" LongName="nunit.mocks.dll" src="nunit.mocks.dll" />
          <File Id="file25" Name="NUNITU~2.DLL" LongName="nunit.uikit.dll" src="nunit.uikit.dll" />
          <File Id="file27" Name="NUNITU~1.DLL" LongName="nunit.util.dll" src="nunit.util.dll" />
          <File Id="file29" Name="TIMING~1.DLL" LongName="timing-tests.dll" src="timing-tests.dll" />
          <File Id="file31" Name="NUNCR~1.EXE" LongName="nunit-console-runner.dll" src="nunit-console-runner.dll" />
          <File Id="file32" Name="NUNGR~2.EXE" LongName="nunit-gui-runner.dll" src="nunit-gui-runner.dll" />
          <File Id="file33" Name="NCE33.DLL" LongName="nunit.core.extensions.dll" src="nunit.core.extensions.dll" />
          <File Id="file34" Name="NUFE.DLL" LongName="nunit.framework.extensions.dll" src="nunit.framework.extensions.dll" />
          <File Id="F__nunit_server_exe" Name="NUS.EXE" LongName="nunit-server.exe" src="nunit-server.exe" />
          <File Id="F__nunit_test_server_dll" Name="NUNTS.DLL" LongName="nunit-test-server.dll" src="nunit-test-server.dll" />
        </Component>
        
        <Component Id="C__243FEAF8F6D78D23A4A811915AEB23F8" Guid="0E428D48-6EC3-91C3-C230-09C34647D786">
          <File Id="F__clr_bat" Name="clr.bat" src="clr.bat" Vital="yes" KeyPath="yes" DiskId="1">
			  <Shortcut Id="S__nunit_gui_1_0" Arguments="1.0 nunit.exe" Directory="D__nunit_menu" Name="SNUNIT10" LongName="NUnit GUI (.NET 1.0)" Icon="nunit_icon.exe" IconIndex="0" Show="minimized" WorkingDirectory="D__bin" />
			  <Shortcut Id="S__nunit_gui_1_1" Arguments="1.1 nunit.exe"  Directory="D__nunit_menu" Name="SNUNIT11" LongName="NUnit GUI (.NET 1.1)" Icon="nunit_icon.exe" IconIndex="0" Show="minimized" WorkingDirectory="D__bin" />
			  <Shortcut Id="S__nunit_gui_2_0" Arguments="2.0 nunit.exe"  Directory="D__nunit_menu" Name="SNUNIT20" LongName="NUnit GUI (.NET 2.0)" Icon="nunit_icon.exe" IconIndex="0" Show="minimized" WorkingDirectory="D__bin" />
          </File>
        </Component>
       
      </Directory>
	</DirectoryRef>
	
    <Icon Id="nunit_icon.exe" src="Icon\nunit_icon.exe.ibd" />
	
  </Fragment>
</Wix>