<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

    <!-- Feature to install sample code -->
	<Feature Id="SamplesFeature" Level="1"
		Title='Samples' Description='Sample code showing the use of NUnit' Display='expand'>
		
	  <!-- C# Samples -->
	  <ComponentRef Id="C__CSharpSample_Simple" />
	  <ComponentRef Id="C__CSharpSample_Money" />
	  <ComponentRef Id="C__CSharpSample_Money_Port" />
		
      <!-- J# Sample -->
	  <ComponentRef Id="C__JSharpSample" />

      <!-- C++ Sample -->
	  <ComponentRef Id="C__CppSample" />

      <!-- VB Sample -->
	  <ComponentRef Id="C__VbSample" />
			
	  <!-- Extensibility Samples -->
	  <ComponentRef Id="C__SampleSuiteExtension" />
	  <ComponentRef Id="C__SampleSuiteExtension_Tests" />
	  <ComponentRef Id="C__SampleFixtureExtension" />
	  <ComponentRef Id="C__SampleFixtureExtension_Tests" />
	  <ComponentRef Id="C__SampleShortcuts" />

    </Feature>
	
	<!-- Menu Shortcuts to samples -->
	<DirectoryRef Id="samples">
        <Component Id="C__SampleShortcuts" DiskId="1" Guid="CCDAEC65-EED0-4794-89D0-363EB1AC3CC9">
          <Shortcut Id="S__csharp" Target="[csharp]" Directory="SamplesMenu" Name="SCSHARP" LongName="C#" Show="normal" />
          <Shortcut Id="S__jsharp" Target="[jsharp]" Directory="SamplesMenu" Name="SJSHARP" LongName="J#" Show="normal" />
          <Shortcut Id="S__cpp" Target="[cpp_sample]" Directory="SamplesMenu" Name="SCPP" LongName="C++" Show="normal" />
          <Shortcut Id="S__vb" Target="[vb]" Directory="SamplesMenu" Name="SVB" LongName="VB" Show="normal" />
          <Shortcut Id="S__extensibility" Target="[extensibility]" Directory="SamplesMenu" Name="SEXTENSI" LongName="Extensibility" Show="normal" />
	    </Component>
	</DirectoryRef>

	<!-- C# Samples -->	
    <DirectoryRef Id="csharp">
	
        <Directory Id="directory9" Name="money">
            <Component Id="C__CSharpSample_Money" DiskId="1" Guid="F7B5ED7B-7478-43d3-B376-06FE70EADF1B">
              <File Id="F__samples_file23" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\ReadMe.txt" />
              <File Id="F__samples_file24" Name="Money.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\Money.cs" />
              <File Id="F__samples_file25" Name="MONEYT_1.CS" LongName="MoneyTest.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\MoneyTest.cs" />
              <File Id="F__samples_file26" Name="MoneyBag.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\MoneyBag.cs" />
              <File Id="F__samples_file27" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\AssemblyInfo.cs" />
              <File Id="F__samples_file28" Name="MONEY__1.CSP" LongName="money_VS2005.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\money_VS2005.csproj" />
              <File Id="F__samples_file29" Name="MONEY_1.CSP" LongName="money.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\money.csproj" />
              <File Id="F__samples_file30" Name="IMoney.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money\IMoney.cs" />
            </Component>
        </Directory>
        
		<Directory Id="simple" Name="simple">
            <Component Id="C__CSharpSample_Simple" DiskId="1" Guid="5613D9D2-7F4B-4d49-A0C3-AEF43CF08C5B">
              <File Id="F__samples_file31" Name="CSHARP_1.CS" LongName="CSharpTest.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\simple\CSharpTest.cs" />
              <File Id="F__samples_file32" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\simple\ReadMe.txt" />
              <File Id="F__samples_file33" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\simple\AssemblyInfo.cs" />
              <File Id="F__samples_file34" Name="CSHARP_1.CSP" LongName="csharp-sample_VS2005.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\simple\csharp-sample_VS2005.csproj" />
              <File Id="F__samples_file35" Name="CSHARP_2.CSP" LongName="csharp-sample.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\simple\csharp-sample.csproj" />
            </Component>
        </Directory>
        
		<Directory Id="money_port" Name="MONEY-_1" LongName="money-port">
            <Component Id="C__CSharpSample_Money_Port" DiskId="1" Guid="CE86795C-1A55-4d82-BBA7-8B73668B94D1">
              <File Id="F__samples_file36" Name="MoneyBag.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\MoneyBag.cs" />
              <File Id="F__samples_file37" Name="Money.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\Money.cs" />
              <File Id="F__samples_file38" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\AssemblyInfo.cs" />
              <File Id="F__samples_file39" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\ReadMe.txt" />
              <File Id="F__samples_file40" Name="MONEY-_1.CSP" LongName="money-port_VS2005.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\money-port_VS2005.csproj" />
              <File Id="F__samples_file41" Name="MONEY-_1.CON" LongName="money-port.config" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\money-port.config" />
              <File Id="F__samples_file42" Name="IMoney.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\IMoney.cs" />
              <File Id="F__samples_file43" Name="MONEYT_1.CS" LongName="MoneyTest.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\MoneyTest.cs" />
              <File Id="F__samples_file44" Name="MONEY-_2.CSP" LongName="money-port.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\csharp\money-port\money-port.csproj" />
            </Component>
        </Directory>
    </DirectoryRef>
		
    <!-- J# Sample -->
	<DirectoryRef Id="jsharp">
        <Component Id="C__JSharpSample" DiskId="1" Guid="500ED4A5-E644-473d-904E-CD43D423531B">
            <File Id="F__samples_file0" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\jsharp\ReadMe.txt" />
            <File Id="F__samples_file1" Name="JSHARP_1.VJS" LongName="jsharp_VS2005.vjsproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\jsharp\jsharp_VS2005.vjsproj" />
            <File Id="F__samples_file2" Name="JSHARP_2.VJS" LongName="jsharp.vjsproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\jsharp\jsharp.vjsproj" />
            <File Id="F__samples_file3" Name="JSHARP_1.JSL" LongName="JSharpTest.jsl" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\jsharp\JSharpTest.jsl" />
            <File Id="F__samples_file4" Name="ASSEMB_1.JSL" LongName="AssemblyInfo.jsl" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\jsharp\AssemblyInfo.jsl" />
        </Component>
    </DirectoryRef>
		
    <!-- C++ Sample -->
	<DirectoryRef Id="cpp">
        <Component Id="C__CppSample" DiskId="1" Guid="A32EB24D-F996-4fc6-9614-D6CD17D0EAC6">
            <File Id="F__samples_file45" Name="Stdafx.cpp" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\Stdafx.cpp" />
            <File Id="F__samples_file46" Name="CPPSAM_1.H" LongName="cppsample.h" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\cppsample.h" />
            <File Id="F__samples_file47" Name="CPPSAM_1.CPP" LongName="cppsample.cpp" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\cppsample.cpp" />
            <File Id="F__samples_file48" Name="CPP-SA_1.VCP" LongName="cpp-sample.vcproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\cpp-sample.vcproj" />
            <File Id="F__samples_file49" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\ReadMe.txt" />
            <File Id="F__samples_file50" Name="ASSEMB_1.CPP" LongName="AssemblyInfo.cpp" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\AssemblyInfo.cpp" />
            <File Id="F__samples_file51" Name="CPP-SA_2.VCP" LongName="cpp-sample_VS2005.vcproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\cpp-sample_VS2005.vcproj" />
            <File Id="F__samples_file52" Name="Stdafx.h" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\cpp-sample\Stdafx.h" />
        </Component>
    </DirectoryRef>
		
    <!-- VB Sample -->
	<DirectoryRef Id="vb">
        <Component Id="C__VbSample" DiskId="1" Guid="05434C61-C0AC-47cb-8189-B1232CA3B5FB">
            <File Id="F__samples_file53" Name="SIMPLE_1.VB" LongName="SimpleVBTest.vb" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\vb\SimpleVBTest.vb" />
            <File Id="F__samples_file54" Name="VB-SAM_1.VBP" LongName="vb-sample.vbproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\vb\vb-sample.vbproj" />
            <File Id="F__samples_file55" Name="ReadMe.txt" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\vb\ReadMe.txt" />
            <File Id="F__samples_file56" Name="ASSEMB_1.VB" LongName="AssemblyInfo.vb" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\vb\AssemblyInfo.vb" />
            <File Id="F__samples_file57" Name="VB-SAM_2.VBP" LongName="vb-sample_VS2005.vbproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\vb\vb-sample_VS2005.vbproj" />
        </Component>
    </DirectoryRef>
	
    <!-- Extensibility Samples -->
	<DirectoryRef Id="extensibility">
        <Directory Id="core_extensibility" Name="Core">
            <Directory Id="samplesuiteextension" Name="SAMPLE_1" LongName="SampleSuiteExtension">
              <Component Id="C__SampleSuiteExtension" DiskId="1" Guid="2EDC393E-B725-406f-A9BC-824E3B72EE84">
                <File Id="F__samples_file5" Name="SAMPLE_1.CS" LongName="SampleSuiteExtensionBuilder.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\SampleSuiteExtensionBuilder.cs" />
                <File Id="F__samples_file6" Name="SAMPLE_1.CSP" LongName="SampleSuiteExtension.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\SampleSuiteExtension.csproj" />
                <File Id="F__samples_file7" Name="SAMPLE_2.CS" LongName="SampleSuiteExtensionAttribute.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\SampleSuiteExtensionAttribute.cs" />
                <File Id="F__samples_file8" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\AssemblyInfo.cs" />
                <File Id="F__samples_file9" Name="SAMPLE_3.CS" LongName="SampleSuiteExtension.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\SampleSuiteExtension.cs" />
                <File Id="F__samples_file10" Name="SAMPLE_1.SLN" LongName="SampleSuiteExtension.sln" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\SampleSuiteExtension.sln" />
              </Component>
              <Directory Id="samplesuiteextention_tests" Name="Tests">
                <Component Id="C__SampleSuiteExtension_Tests" DiskId="1" Guid="0E72B102-06A7-448d-938E-3EDD83BA496C">
                  <File Id="F__samples_file11" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\Tests\AssemblyInfo.cs" />
                  <File Id="F__samples_file12" Name="TESTS_1.CSP" LongName="Tests.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\Tests\Tests.csproj" />
                  <File Id="F__samples_file13" Name="SAMPLE_1.CS" LongName="SampleSuiteExtensionTests.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleSuiteExtension\Tests\SampleSuiteExtensionTests.cs" />
                </Component>
              </Directory>
            </Directory>
            <Directory Id="directory6" Name="SAMPLE_2" LongName="SampleFixtureExtension">
              <Component Id="C__SampleFixtureExtension" DiskId="1" Guid="4C209669-C278-4fc7-8D61-3E36E263AADF">
                <File Id="F__samples_file14" Name="SAMPLE_1.CS" LongName="SampleFixtureExtensionBuilder.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\SampleFixtureExtensionBuilder.cs" />
                <File Id="F__samples_file15" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\AssemblyInfo.cs" />
                <File Id="F__samples_file16" Name="SAMPLE_1.SLN" LongName="SampleFixtureExtension.sln" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\SampleFixtureExtension.sln" />
                <File Id="F__samples_file17" Name="SAMPLE_2.CS" LongName="SampleFixtureExtension.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\SampleFixtureExtension.cs" />
                <File Id="F__samples_file18" Name="SAMPLE_3.CS" LongName="SampleFixtureExtensionAttribute.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\SampleFixtureExtensionAttribute.cs" />
                <File Id="F__samples_file19" Name="SAMPLE_1.CSP" LongName="SampleFixtureExtension.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\SampleFixtureExtension.csproj" />
              </Component>
              <Directory Id="directory7" Name="Tests">
                <Component Id="C__SampleFixtureExtension_Tests" DiskId="1" Guid="7A8AF9BF-EE33-462f-AE7F-2CEF2084866F">
                  <File Id="F__samples_file20" Name="SAMPLE_1.CS" LongName="SampleFixtureExtensionTests.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\Tests\SampleFixtureExtensionTests.cs" />
                  <File Id="F__samples_file21" Name="TESTS_1.CSP" LongName="Tests.csproj" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\Tests\Tests.csproj" />
                  <File Id="F__samples_file22" Name="ASSEMB_1.CS" LongName="AssemblyInfo.cs" src="D:\Dev\NUnit\nunit-2.4\package\NUnit-2.3.6162\samples\Extensibility\Core\SampleFixtureExtension\Tests\AssemblyInfo.cs" />
                </Component>
              </Directory>
            </Directory>
        </Directory>
    </DirectoryRef>
		
  </Fragment>
</Wix>