<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="toolTip.ShowAlways" value="False" />
    <add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />
  </appSettings>
  
  <startup>
    <!-- Run under .NET 1.0 if present, even if 1.1 is also installed -->
    <!-- Uncomment the second line to use 1.1 if present -->
	  <requiredRuntime version="v1.0.3705" />
    <!--  <supportedRuntime version="v1.1.4322" /> -->
	  <supportedRuntime version="v1.0.3705" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

  <!--
    The following dependentAssembly elements allow running nunit
    on a machine with only the .NET version 1.0 runtime installed.
  -->
  
      <dependentAssembly> 
        <assemblyIdentity name="System" 
                          publicKeyToken="b77a5c561934e089" 
                          culture=""/>
        <bindingRedirect  oldVersion="0.0.0.0-65535.65535.65535.65535" 
                          newVersion="1.0.3300.0"/>
      </dependentAssembly>

      <dependentAssembly> 
        <assemblyIdentity name="System.Data" 
                          publicKeyToken="b77a5c561934e089" 
                          culture=""/>
        <bindingRedirect  oldVersion="0.0.0.0-65535.65535.65535.65535" 
                          newVersion="1.0.3300.0"/>
      </dependentAssembly>

      <dependentAssembly> 
        <assemblyIdentity name="System.Drawing" 
                          publicKeyToken="b03f5f7f11d50a3a" 
                          culture=""/>
        <bindingRedirect  oldVersion="0.0.0.0-65535.65535.65535.65535" 
                          newVersion="1.0.3300.0"/>
      </dependentAssembly>

      <dependentAssembly> 
        <assemblyIdentity name="System.Windows.Forms" 
                          publicKeyToken="b77a5c561934e089" 
                          culture=""/>
        <bindingRedirect  oldVersion="0.0.0.0-65535.65535.65535.65535" 
                          newVersion="1.0.3300.0"/>
      </dependentAssembly>

      <dependentAssembly> 
        <assemblyIdentity name="System.Xml" 
                          publicKeyToken="b77a5c561934e089" 
                          culture=""/>
        <bindingRedirect  oldVersion="0.0.0.0-65535.65535.65535.65535" 
                          newVersion="1.0.3300.0"/>
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  
</configuration>