<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

    <FeatureRef Id="BaseFeature">

      <ComponentRef Id="nunit_console_x86"/>
      <ComponentRef Id="nunit_agent_x86"/>

    </FeatureRef>

    <DirectoryRef Id="bin" FileSource="bin">

      <Component Id="nunit_console_x86" DiskId="1" Guid="1243DDA4-E8A0-422d-BD0C-14F1D3EDCFCA">
        <File Id="console_x86.exe" Name="CONSOL86.EXE" LongName="nunit-console-x86.exe" />
        <File Id="console_x86.config" Name="CONSOL86.CFG" LongName="nunit-console-x86.exe.config" />
      </Component>
                
      <Component Id="nunit_agent_x86" DiskId="1" Guid="D2417C51-E283-4d75-BD4D-E47D9A7E64CD">
        <File Id="nunit_agent_x86.exe" Name="AGENTX86.EXE" LongName="nunit-agent-x86.exe" />
        <File Id="nunit_agent_x86.config" Name="AGENTX86.CFG" LongName="nunit-agent-x86.exe.config" />
      </Component>
          	  
    </DirectoryRef>

  </Fragment>
</Wix>
