<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

    <DirectoryRef Id="INSTALLDIR">

      <Component Id="C__FIT_LICENSE" Guid="6C47563D-CDCD-4a65-BD89-A37F3A3C681D">
        <File Id="fit_license.txt" Name="FITLICNS.TXT" LongName="fit-license.txt"
              Source="fit-license.txt" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="bin" FileSource="bin">

      <Component Id="fit_tests" DiskId="1" Guid="33E1C9B4-254D-4aaa-8BF5-FB18DAE3220E" >
        <File Id="NUnitFitTests.html" Name="FITTESTS.HTM" LongName="NUnitFitTests.html" />
        <File Id="runFile.exe" Name="runFile.exe"/>
        <File Id="runFile.exe.config" Name="runFile.cfg" LongName="runFile.exe.config" />
      </Component>
 
    </DirectoryRef>

    <DirectoryRef Id="lib" FileSource="bin\lib">

      <Component Id="fit_lib" DiskId="1" Guid="DD9E8F25-DD22-4791-962E-0717BDE5E21D" >
        <File Id="nunit.fixtures.dll" Name="FIXTURES.DLL" LongName="nunit.fixtures.dll" />
        <File Id="fit.dll" Name="fit.dll"/>
      </Component>

    </DirectoryRef>
    
    <DirectoryRef Id="tests" FileSource="bin\tests">
      
      <Component Id="fit_fixture_tests" DiskId="1" Guid="2DB07DB8-0710-445b-AF8F-E26CEE3D64C8">
        <File Id="nunit.fixtures.tests.dll" Name="FIXTESTS.DLL" LongName="nunit.fixtures.tests.dll" />
      </Component>
          
    </DirectoryRef>
	
  </Fragment>
</Wix>
