<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <Fragment>

    <DirectoryRef Id="lib" FileSource="bin\lib">

      <Component Id="NSubstitute" DiskId="1" Guid="7F5AABB5-9139-4DAE-9D22-7BC552E93A28">
        <File Id="NSubstitute.dll" Name="NSUBST.DLL" LongName="NSubstitute.dll" />
      </Component>

    </DirectoryRef>
	
  </Fragment>

</Wix>
