<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi"> 
  <Fragment> 
    
    <DirectoryRef Id="bin" FileSource="bin">
             
      <Component Id="nunit.exe" DiskId="1" Guid="E0AFF731-3B75-4a29-A885-076A46533D2D">
        <File Id="nunit.exe" Name="nunit.exe">
          <!--<Shortcut Id="DesktopShortcut" Directory="DesktopFolder"
          Name="SNUNITDT" LongName="NUnit $(var.NominalVersion)" 
          Icon="nunit_icon.exe" IconIndex="0" Show="normal" 
          Advertise="no" WorkingDirectory="bin" />-->
        </File>
        <File Id="nunit.config" Name="NUNIT.CFG" LongName="nunit.exe.config" />
      </Component>
      		
      <Component Id="nunit_x86" DiskId="1" Guid="3D07B159-305C-4fa9-979B-2B50C439E024">
        <File Id="nunit_x86.exe" Name="NUNITX86.EXE" LongName="nunit-x86.exe" />
        <File Id="nunit_x86.config" Name="NUNITX86.CFG" LongName="nunit-x86.exe.config" />
      </Component>

      <Component Id="DllFileAssociation" Guid="51496B17-0252-4adf-9850-1E0841E5A51B">

        <Registry Id="R__OpenDllWith" Root="HKCR" Key=".dll\OpenWithList\nunit.exe"/>

        <Registry Id="R__OpenDll_1" Root="HKCR" Key="dllfile\shell\OpenWithNUnit"
          Action="write" Type="string" Value="Run &amp;Tests" />

      </Component>
      		
      <Component Id="NUnitProjectFileAssociation" Guid="74E041CF-5345-4563-BAE6-1D1BFC72CC1F">

        <Registry Id="R__OpenDll_2" Root="HKCR" Key="dllfile\shell\OpenWithNUnit\command"
          Action="write" Type="string" Value='"[!nunit.exe]" "%1"' />

        <Registry Id="R__OpenNUnit_1" Root="HKCR" Key=".nunit"
          Action="write" Type="string" Value="NUnitTestProject" />

        <Registry Id="R__OpenNUnit_2" Root="HKCR" Key="NUnitTestProject"
          Action="write" Type="string" Value="NUnit Test Project" />

        <Registry Id="R__OpenNUnit_3" Root="HKCR" Key="NUnitTestProject\DefaultIcon"
          Action="write" Type="string" Value="[!nunit.exe],0" />

        <Registry Id="R__OpenNUnit_4" Root="HKCR" Key="NUnitTestProject\shell\Open"
          Action="write" Type="string" Value="&amp;Open" />

        <Registry Id="R__OpenNUnit_5" Root="HKCR" Key="NUnitTestProject\shell\Open\command"
          Action="write" Type="string" Value='"[!nunit.exe]" "%1"' />

      </Component>

      <Component Id="MenuShortcut_NUnit" DiskId="1" Guid="55FE94D3-743A-4733-BF01-B296240931C1">
        <Condition>FRAMEWORK20 = "50727-50727"</Condition>
        <Shortcut Id="MenuShortcut_NUnit" Name="NUnit" 
                  Target="[!nunit.exe]" Advertise="no" Directory="NUnitMenu" 
                  Icon="nunit_icon.exe" IconIndex="0" Show="normal" 
                  WorkingDirectory="bin" />
      </Component>
      		
      <Component Id="MenuShortcut_2.0" DiskId="1" Guid="A771FB75-2488-4f2c-BA22-1F4C85D64AC7">
        <Condition>FRAMEWORK20 = "50727-50727"</Condition>
        <Shortcut Id="MenuShortcut_2.0" Name="SNUNIT20" LongName="NUnit (.NET 2.0)" 
                  Target="[!nunit.exe]" Advertise="no" Directory="RunUnderMenu" 
                  Icon="nunit_icon.exe" IconIndex="0" Show="normal" 
                  WorkingDirectory="bin" />
      </Component>
      		
      <Component Id="MenuShortcut_Mono_2.0" DiskId="1" Guid="CDCB0BAA-0C50-4e41-A2B8-5C15027843DF">
        <Condition>MONODIRECTORY</Condition>
        <Shortcut Id="MenuShortcut_Mono_2.0" Name="SNUNITMO" LongName="NUnit (Mono 2.0 Profile)" 
                  Target="[MONODIRECTORY]bin\mono.exe" Arguments="nunit.exe"  Advertise="no"
                  Directory="RunUnderMenu" Icon="nunit_icon.exe" IconIndex="0" Show="normal" 
                  WorkingDirectory="bin" />
      </Component>
    		     				
    </DirectoryRef>

    <DirectoryRef Id="lib" FileSource="bin\lib">

      <Component Id="nunit_gui_runner" DiskId="1" Guid="7A62D7B2-1D0D-4cb4-9C52-00DBBBDAA0A2">
        <File Id="nunit_gui_runner" Name="GUI.DLL" LongName="nunit-gui-runner.dll" />
      </Component>
      		
      <Component Id="nunit.uikit" DiskId="1" Guid="5B256DDD-668C-4bdd-AC91-7EF0D961F6E6">
        <File Id="nunit.uikit" Name="UIKIT.DLL" LongName="nunit.uikit.dll" />
        <File Id="skipped.png" Name="SKIPPED.PNG" LongName="skipped.png" />
        <File Id="success.png" Name="SUCCESS.PNG" LongName="success.png" />
        <File Id="failure.png" Name="FAILURE.PNG" LongName="failure.png" />
        <File Id="ignored.png" Name="IGNORED.PNG" LongName="ignored.png" />
        <File Id="inconclusive.png" Name="INCNCLSV.PNG" LongName="inconclusive.png" />
        <RemoveFile Id="RemoveThumbnails_GUI" On="uninstall" Name="*" />
      </Component>

      <Component Id="nunit.uiexception.dll" DiskId="1" Guid="0C2AAFD9-3EDC-4e1d-ACC3-9CC2E39210C2">
        <File Id="nunit.uiexception.dll" Name="UIXCPTN.DLL" LongName="nunit.uiexception.dll" />
      </Component>
      		
    </DirectoryRef>

    <DirectoryRef Id="tests" FileSource="bin\tests">

      <Component Id="gui_tests" DiskId="1" Guid="C7E0B8E5-DE60-455a-B247-B204A4C28677">
        <File Id="nunit.uikit.tests" Name="TESTUIKI.DLL" LongName="nunit.uikit.tests.dll" />
        <File Id="nunit.uiexception.tests.dll" Name="UIXCPTST.DLL" LongName="nunit.uiexception.tests.dll" />
        <File Id="gui.tests" Name="GUITESTS.DLL" LongName="nunit-gui.tests.dll" />
      </Component>

    </DirectoryRef>

  </Fragment>
</Wix>