<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

    <DirectoryRef Id="bin" FileSource="bin">
         
      <Component Id="pnunit_agent" DiskId="1" Guid="CB4CF43B-1D4B-40a7-859B-8B48802B3C07">
        <File Id="pnunit_agent" Name="PNUAGENT.EXE" LongName="pnunit-agent.exe" />
        <File Id="pnunit_agent_config" Name= "PNUAGENT.CFG" LongName="pnunit-agent.exe.config" />
        <File Id="agent_conf" Name="AGENT.CNF" LongName="agent.conf" />
        <File Id="agent_log_conf" Name="AGENTLOG.CNF" LongName="agent.log.conf" />
      </Component>

      <Component Id="pnunit_launcher" DiskId="1" Guid="CB4CF43B-1D4B-40a7-859B-8B48802B3C07">
        <File Id="pnunit_launcher" Name="PNULNCHR.EXE" LongName="pnunit-launcher.exe" />
        <File Id="pnunit_launcher_config" Name= "PNULNCHR.CFG" LongName="pnunit-launcher.exe.config" />
        <File Id="test_conf" Name="TEST.CNF" LongName="test.conf" />
        <File Id="launcher_log_conf" Name="LNCHRLOG.CNF" LongName="launcher.log.conf" />
      </Component>

      <Component Id="pnunit_tests" DiskId="1" Guid="9A5B261D-43A1-475c-A4F0-721759E12A4F">
        <File Id="pnunit_tests" Name="PNUTESTS.DLL" LongName="pnunit.tests.dll" />
        <File Id="runpnunit_bat" Name="RUNPNU.BAT" LongName="runpnunit.bat" />
        <File Id="nunit.framework.pnunit.copy" Name="FRAMEWRK.DLL" LongName="nunit.framework.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="lib" FileSource="bin\lib">

      <Component Id="log4net" DiskId="1" Guid="0D92F103-97A8-4c23-871C-BD1678E454E3">
        <File Id="log4net.dll" Name="log4net.dll" />
      </Component>

    </DirectoryRef>
	
    <DirectoryRef Id="framework" FileSource="bin\framework">

      <Component Id="pnunit_framework" DiskId="1" Guid="1BD60D02-58E0-4a8c-A797-302328C5F103">
        <File Id="pnunit_framework" Name="PNUFRMWK.DLL" LongName="pnunit.framework.dll" />
      </Component>

    </DirectoryRef>
        
  </Fragment>
</Wix>