<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>
  
    <DirectoryRef Id="bin" FileSource="bin">

      <Component Id="NUnitTestProject" DiskId="1" Guid="6670EEC9-2B3C-4c1f-A91C-BD0EDA0E8B12">
        <File Id="NUnitTests.nunit" Name="ALLTESTS.NUN" LongName="NUnitTests.nunit" />
        <File Id="NUnitTests.config" Name="ALLTESTS.CFG" LongName="NUnitTests.config" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="tests" FileSource="bin\tests">
      
      <Component Id="framework_copy_for_tests" DiskId="1" Guid="2E8EF5D0-6EFE-4d8d-BC55-DF1126262C24">
	      <File Id="nunit.framework.copy" Name="FRAMEWRK.DLL" LongName="nunit.framework.dll" />
      </Component>
        
      <Component Id="base_tests" DiskId="1" Guid="85DD0370-9E05-4e9a-8AB4-02A6C24986AB">
        <File Id="testutilities" Name="TESTUTIL.DLL" LongName="test-utilities.dll" />
        <File Id="testassembly" Name="TESTDATA.DLL" LongName="test-assembly.dll" />		
        <File Id="mockassembly" Name="MOCKASM.DLL" LongName="mock-assembly.dll" />
        <File Id="nonamespaceassembly" Name="NONAMESP.DLL" LongName="nonamespace-assembly.dll" />
        <File Id="nunit.util.tests" Name="TESTUTIL.DLL" LongName="nunit.util.tests.dll" />
        <File Id="nunit.framework.tests" Name="TESTFRAM.DLL" LongName="nunit.framework.tests.dll" />
        <File Id="nunit.mocks.tests" Name="TESTMOCK.DLL" LongName="nunit.mocks.tests.dll" />
        <File Id="console.tests" Name="TESTCONS.DLL" LongName="nunit-console.tests.dll" />
        <File Id="nunit.core.tests" Name="TESTCORE.DLL" LongName="nunit.core.tests.dll" />
        <!-- <File Id="F__nunit_server_tests_dll_2.0" Name="NUST.DLL" LongName="nunit-server.tests.dll" /> -->
      </Component>
          
    </DirectoryRef>

    <DirectoryRef Id="lib" FileSource="bin\lib">

      <Component Id="NSubstitute" DiskId="1" Guid="7F5AABB5-9139-4DAE-9D22-7BC552E93A28">
        <File Id="NSubstitute.dll" Name="NSUBST.DLL" LongName="NSubstitute.dll" />
      </Component>

    </DirectoryRef>
	
  </Fragment>
</Wix>