<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <Fragment>

    <DirectoryRef Id="tests" FileSource="bin\tests">
      
      <Component Id="timing_tests" DiskId="1" Guid="E09E9307-7ED6-4103-9B7D-F687BFC2F283">
        <File Id="loadtestassembly" Name="LOADTEST.DLL" LongName="loadtest-assembly.dll" />		
        <File Id="timingtests" Name="TIMING.DLL" LongName="timing-tests.dll" />
      </Component>
          
    </DirectoryRef>
	
  </Fragment>

</Wix>
